<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="http://code.jquery.com/jquery.js"></script>
    <title>Document</title>
    <style>
      input:disabled{
        border : none;
        background-color: white;
        color : black;
      }
      input[deco = "true"]{
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <h1>Todo List</h1>
    <div>
      <form action="/todoList" method = "post">
        <input type="text" value= "" name = "newTask"/>
        <input type="submit" value="save" />
      </form>
    </div>
    <table width = "100%">
      <tr>
        <td width = "15%">No</td>
        <td width = "15%">Check</td>
        <td width = "40%">Task</td>
        <td width = "15%">Del</td>
        <td width = "15%">Mod</td>
      </tr>

    <!--ejs 문서시작-->
    <% 
    //자바스크립트로 작성 
    for(var task of todoList){ %>
    <!--HTML로작성-->
    <tr>
      <td class = "no"> <%=task.no%> </td>
      <td><input type = "checkbox" id ="<%=task.no%>"/></td>
      <td>
        <input type="text" class = "Title" value = "<%=task.title%>" id = "<%=task.no%>" deco ="<%=task.done%>" disabled>
      </td>
      <td><input type = "button" id = "del" value = "Del" /></td>
      <td><input type = "button" id = "mod" value = "Mod"  title = "<%=task.title%>" /></td><br/>
    </tr>
    <% } %>
  </table>

  <script>
    var len = $("input:checkbox").length;
    for (var i = 0; i<len ; i++){
      console.log(i);
    }

    $("input#mod").click(function(){
      var titleDOM = $(this).parent().parent().find("input.Title")[0];
      if(titleDOM.disabled){
        titleDOM.disabled = false;
        $(this)[0].value = "OK";
      }
      else{
        //서버로 변경 내용과 idx를 보낸다.
        //페이지가 변경되면서 Query String으로 파라미터 전송
        // /todoList/update?idx = n & title = 수정내용
        
        let url = `/todoList/update?idx=${titleDOM.id}&title=${titleDOM.value}`
        console.log(url);
        location.assign(url);

        $(this)[0].value = "Mod";
        //titleDOM.disabled = true;//주소가 변경되며 새로고침되기 때문에 의미없는 코드

      }
      console.log("mod clicked")
    })

    $("input:checkbox").click(function(){
      var idx = $(this)[0].id;
      let url = `/todoList/checkupdate?idx=${idx}`
      location.assign(url);
    })

  </script>

  </body>
</html>
